<nav class="flex px-4 justify-between items-center w-full bg-main text-3xl text-white h-16 list-none sticky top-0">
    <div class="flex">
        <a href="/"><img class ="h-8" src="/img/home.svg"></a>
        <ul class="flex flex-col text-center bg-main bg-opacity-75 z-10 fixed -right-full w-full top-16 md:flex-row md:static" id="menu">
            <% articles.forEach(function(article){ %>
                <li class="ml-4">
                    <a href="<%= article.title %>"><%= article.title %></a>
                </li>
            <% }) %>
        </ul>
    </div>

    <!-- Hamburger -->
    <div class="cursor-pointer md:hidden" id="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>