<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet', type='text/css', href='/style/style.css')>
    <script src="/js/navbar.js" defer></script>
    <script src="/js/articles.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon_cheatsheets.webp" type="image/x-icon">
    <title><%= article.title %></title>
</head>
<body>
    <%- include('./_navbar') %>
    <main class="flex justify-center p-2 sm:p-8 bg-white dark:bg-dark">
        <article class="w-full md:max-w-screen-lg bg-opacity-50 p-2 sm:p-8">
            <%- article.content %>
        </article>
    </main>
    <%- include('./_footer') %>
</body>
</html>