<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet', type='text/css', href='/style/style.css')>
    <script src="/js/navbar.js" defer></script>
    <script src="/js/articles.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon_cheatsheets.webp" type="image/x-icon">
    <title><%= article.title %></title>
</head>
<body>
    <%- include('./_navbar') %>
    <main class="bg-white dark:bg-dark">
        <div class="max-w-6xl mx-auto py-8 px-4 sm:px-6 md:px-8">
            <div class="block fixed overflow-y-auto">
                <nav class="flex flex-col relative" id="summary">
                    <h1 class="text-dark dark:text-white text-3xl mb-4">Summary</h1>
                </nav>
            </div>
            <article class="overflow-auto ml-56 pl-12 text-dark dark:text-white scroll-smooth border-l border-dark dark:border-white">
                <%- article.content %>
            </article>
        </div>
    </main>
    <%- include('./_footer') %>
</body>
</html>