<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet', type='text/css', href='/style/style.css')>
    <script src="/js/navbar.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon_cheatsheets.webp" type="image/x-icon">
    <title>CheatSheets</title>
</head>
<body>
    <%- include('./_navbar') %>
    <main class="min-h-(screen) flex flex-col justify-center items-center p-8 bg-white dark:bg-dark">
        <img class='w-1/2 md:w-1/4' src="img/cheatsheets.webp" alt="">
    </main>
    <%- include('./_footer') %>
</body>
</html>