<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet', type='text/css', href='/style/style.css')>
    <script src="/js/script.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheatSheets</title>
</head>
<body>
    <%- include('./_navbar') %>
    <main class="flex justify-center p-8 bg-yellow-200">
        <div class="w-full md:max-w-screen-lg bg-white bg-opacity-50 p-8">
            <%- home.content %>
        </div>
    </main>
    <%- include('./_footer') %>
</body>
</html>