doctype html 

html(lang="en")
    head 
        title My cheat sheets
        meta(charset="UTF-8")
        link(rel='stylesheet', type='text/css', href='/style/style.css')
    body.bg-green-50
        //- NAVBAR
        nav.flex.bg-green-500.text-3xl.text-white.p-3.list-none 
            a.text-6(href="/")
                img.h-8(src='/img/home.svg')
            ul 
            each article in articles
                li.ml-4
                    a(href=article.title)= article.title 

        //- MAIN CONTENT
        block content
        br
        hr

        //- FOOTER
        footer.bg-green-500.p-3.text-white.text-center 
            p made with love 