doctype html 
html(lang="en")
    head 
        title My cheat sheets
        link(rel='stylesheet', type='text/css', href='/css/style.css')
    body
        block content
        br
        hr
        footer 
            p made with love 